.first{
	background-color: white;
	position: fixed;
	width: 100%;
	top: 0px;
}
.first ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}
.first li {
	display: inline-block;
	margin: 10px;
	font-size: 25px;
	font-family: cursive;
	color: pink;
	text-decoration: none;
	text-shadow: 2px 1px;
}
.first li:hover{
	background-color: lightblue;
	border-bottom-left-radius: 10px;  
}
.first li a{
	text-decoration: none;
	color: black;
}
.heading1{
	font-family: cursive;
	margin-top: 5%;
	margin-left: 45%;
	font-size: 50px;
}
.log{
	margin-top: 10%; 
	width: 350px;
	margin-left: 38%;
}
.form label{
	font-size: 20px;
	font-family: cursive;
	color: black;
}
.sign{
	
}