.first{
	background-color: white;
	position: fixed;
	width: 100%;
	top: 0px;
}
.first ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}
.first li {
	display: inline-block;
	margin: 10px;
	font-size: 25px;
	font-family: cursive;
	color: pink;
	text-decoration: none;
	text-shadow: 2px 1px;
}
.first li:hover{
	background-color: lightblue;
	border-bottom-left-radius: 10px;  
}
.first li a{
	text-decoration: none;
	color: black;
}
.heading{
	font-size: 50px;
	padding-top: 50px;
	padding-left: 35%;
	font-family: cursive;
}
.details{

}
.form{
	margin-left: 35%;
	padding-left: 150px;
	margin-right: 35%;
	background-color: grey;	
	margin-top: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	border: none;
	border-radius: 200px;

}
.form label{
	font-size: 20px;
	font-family: cursive;
	color: black;

}
.form input{
	border-color: lightblue;

}
.form img{
	padding-left: 20px;
}
#logbutton{
	background-color: lightblue;
	border: none;
	display: inline-block;
	font-size: 20px;
	padding: 6px 20px;
	font-family: cursive;
	border-radius: 6px;
	transition-duration: 0.4s;
}
#logbutton:hover{
	background-color: white;
	color: black;
	border-color: black;